.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.login-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo {
    width: 160px;
    height: 83px;
    margin-bottom: 30px;
}

.text {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}


.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #21bbe6;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 45px;
}


.icon-container {
    background-color: #0056b3;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #0056b3;
}

/* Icône pour l'email */
.EmailIcon {
    width: 30px;
    height: 24px;
    margin-right: 4px;
}


.LockIcon {
    width: 20px;
    height: 25px;
    margin-right: 10px;
    margin-left: 5px;
}


input {
    flex: 1;
    height: 15px;
    padding-left: 13px;
    border: none;
    outline: none;
    background-color: transparent;
}

.show-icon-style {
    width: 24px;
    height: 17px;
    margin-right: 10px;
    margin-top: 5px;
}

.hide-icon-style {
    width: 24px;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
}


.error-text {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
}

.button {
    background-color: #0056b3;
    color: white;
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #003d82;
}

p {
    font-size: 16px;
    color: #333;
}